# Preparando ambiente

In [114]:
import os
import openai

import pyodbc, struct
import sqlvalidator

In [9]:
key = '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'

openai.api_key = key
os.environ["OPENAI_API_KEY"] = key

client = openai.OpenAI(
    # This is the default and can be omitted
    api_key=os.environ.get("OPENAI_API_KEY"),
)

# Testes da API

In [10]:
model = "gpt-3.5-turbo"

response = client.chat.completions.create(
    messages=[
        {
            "role": "user",
            "content": "This is just a test",
        }
    ],
    model=model,
)


response.choices[0].message.content

"Great! Let me know if there's anything specific you would like me to assist you with during this test."

# Testes do DB

In [84]:
server = 'adventureworksgpt.database.windows.net'
database = 'adventureWorks'
username = 'user'
password = 'password123!'
driver= 'SQL Server'

conn_string = f'Driver={driver};Server=tcp:{server}.database.windows.net,1433;Database={database};Uid={username};Pwd={password};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'

error = 0
error_message = ""

try:
    with pyodbc.connect(conn_string) as conn:
        with conn.cursor() as cursor:
            cursor.execute("SELECT name FROM sys.tables")  # Corrected the query
            row = cursor.fetchone()
            while row:
                print(row)
                row = cursor.fetchone()
except pyodbc.Error as e:
    error = 1
    error_message = str(e)

print("Error:", error)
if error:
    print("Error Message:", error_message)

Error: 1
Error Message: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server especificado não encontrado. (6) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (11001); [08001] [Microsoft][ODBC SQL Server Driver]Atributo de cadeia de conexão inválido (0)')

# Funcoes

In [98]:
def execute_query(text):

    conn_string = 'Driver={SQL Server};Server=tcp:adventureworksgpt.database.windows.net,1433;Database=adventureWorks;Uid=user;Pwd=password123!;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
    error = 0
    message = ""

    with pyodbc.connect(conn_string) as conn:
        try:
            with conn.cursor() as cursor:
                cursor.execute(text)
                row = cursor.fetchone()
                
                row_list = []
                
                while row:
                    #row_text = str(row[0]) + " " + str(row[1])
                    row_text = str(row)
                    row_list.append(row_text)
                    row = cursor.fetchone()
    
                message = " | ".join(row_list)
                
        except pyodbc.Error as e:
            error = 1
            message = str(e).split('[SQL Server]')[-1]
  
    return error, message

execute_query("SELECT TOP 10 ProductID, Name, Color FROM SalesLT.Product")[1]

"(680, 'HL Road Frame - Black, 58', 'Black') | (706, 'HL Road Frame - Red, 58', 'Red') | (707, 'Sport-100 Helmet, Red', 'Red') | (708, 'Sport-100 Helmet, Black', 'Black') | (709, 'Mountain Bike Socks, M', 'White') | (710, 'Mountain Bike Socks, L', 'White') | (711, 'Sport-100 Helmet, Blue', 'Blue') | (712, 'AWC Logo Cap', 'Multi') | (713, 'Long-Sleeve Logo Jersey, S', 'Multi') | (714, 'Long-Sleeve Logo Jersey, M', 'Multi')"

In [99]:
def get_database_info():

    error, message = execute_query("""SELECT 
                t.TABLE_SCHEMA,
                t.TABLE_NAME,
                STRING_AGG(c.COLUMN_NAME, ', ') AS COLUMNS
            FROM 
                INFORMATION_SCHEMA.TABLES t
            JOIN 
                INFORMATION_SCHEMA.COLUMNS c ON t.TABLE_SCHEMA = c.TABLE_SCHEMA AND t.TABLE_NAME = c.TABLE_NAME
            GROUP BY 
                t.TABLE_SCHEMA, t.TABLE_NAME
            ORDER BY 
                t.TABLE_SCHEMA, t.TABLE_NAME;
            """)

    return message

In [100]:
def business_question(question, system_message):
    response = client.chat.completions.create(
    messages=[
        {
            "role": "system",
            "content": system_message,
        },
        {
            "role": "user",
            "content": question
        }

    ],
    model=model,
    )

    query = response.choices[0].message.content
    one_line_query = query.replace("\n", " ")

    return one_line_query

In [106]:
def result_answers_the_question(question, query, result):
    response = client.chat.completions.create(
    messages=[
        {
            "role": "system",
            "content": f"You are an assistant that answers if a result of a given query can answer a question. The user will input you the result. The first word of your answer must be 'Yes' or 'No', after that you can explain the reason of your answer. Question: {question}. Query: {query}"
        },
        {
            "role": "user",
            "content": f"The result is: {result}"
        }

    ],
    model=model,
    )

    message = response.choices[0].message.content

    return message

In [117]:
def final_answer(question, query, result):
    response = client.chat.completions.create(
    messages=[
        {
            "role": "system",
            "content": f"You are an assistant that answers a user question based on a query result. The query: {query}. The query result: {result}"
        },
        {
            "role": "user",
            "content": question
        }

    ],
    model=model,
    )

    message = response.choices[0].message.content

    return message

# Parâmetros gerais

In [102]:
model = "gpt-3.5-turbo"
database_info = get_database_info()
system_message = "You will be provided with business questions about data in a database and your role is to return an SQL SERVER query that can answer that question. First I will provide you with the Schema, Table name and columns of each table of the database. Each table is separated with a | : " + database_info

# Testes gerais

In [119]:
question = "What are average prices of each product category?"

query = business_question(question, system_message)
#sqlvalidator.parse(query).is_valid()
error, query_result = execute_query(query)
if error==0:
    print("Query executed. But can the result answer the initial question? \n")
    answer = result_answers_the_question(question, query, query_result)
    short_answer = answer.split(' ')[0]
    print(answer + '\n')
else:
    print('Query resulted in an error. \n')
    print(f'Error message: {query_result}')
if short_answer:
    answer = final_answer(question, query, query_result)
print(answer)

Query executed. But can the result answer the initial question?

Yes, the result can answer the question of what are the average prices of each product category. The query groups the products by their category and calculates the average price for each category. The result provides the product categories along with their respective average prices.

The average prices of each product category are as follows:

- Mountain Bikes: $1683.36
- Road Bikes: $1597.45
- Touring Bikes: $1425.25
- Handlebars: $73.89
- Bottom Brackets: $92.24
- Brakes: $106.50
- Chains: $20.24
- Cranksets: $278.99
- Derailleurs: $106.47
- Forks: $184.40
- Headsets: $87.07
- Mountain Frames: $678.25
- Pedals: $64.02
- Road Frames: $780.04
- Saddles: $39.63
- Touring Frames: $631.42
- Wheels: $220.93
- Bib-Shorts: $89.99
- Caps: $8.99
- Gloves: $31.24
- Jerseys: $51.99
- Shorts: $64.28
- Socks: $9.25
- Tights: $74.99
- Vests: $63.50
- Bike Racks: $120.00
- Bike Stands: $159.00
- Bottles and Cages: $7.99
- Cleaners: $7.95
- Fenders: $21.98
- Helmets: $34.99
- Hydration Packs: $54.99
- Lights: $31.32
- Locks: $25.00
- Panniers: $125.00
- Pumps: $22.49
- Tires and Tubes: $19.48

True